/*  #006437  or rgb(0, 100, 55)
    #EE2E24 RGB: (238, 46, 36)*/

body
{
    background-color: rgb(0, 100, 55);
}

h1, h2, h3 {
    color: yellowgreen;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: antiquewhite;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

button{
    background-color:deepskyblue;
    color: white;
    border: 1px;
    text-align: center;
    text-decoration: solid;
    font-size: 14px;
}

label{
    
    color: yellow;
}

.gras{
    font-weight: bold;
}

p, h4, h5, h6, ul, li{
    color: azure;
}
