{% extends 'base.html' %}
{% block title %}Liste des genres de jeux{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p>User connecté : {{user}}</p>
{% endif %}

    <div>
        {% for genre in genres %}
            
        <p>Genre n° <span class="gras">{{forloop.counter}} {{genre.nom}}</span></p>
            {% comment %}<p>Ligne en commentaire</p>
            
                {% if user.is_authenticated %}
                    <a class="btn btn-warning" href="{% url 'mac_update' id=mac.id %}" role="button">Editer la mac</a>
                {% endif %}
            {% endcomment %}
            <hr>
        {% endfor %}
    </div>

{% endblock %}