{% extends 'base.html' %}
{% block title %}Liste des jeux{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p>User connecté : {{user}}</p>
{% endif %}

    <div>
        {% for jeu in jeux %}
        {% comment %}<p>Jeu n° <span class="gras">{{forloop.counter}} => id : {{jeu.id}} - {{jeu.nom}}</span></p>{% endcomment %}
        <h3>Jeu : {{jeu.nom}}</h3>
            <p>Genres:</p>
            <ul>
                {% for genre in jeu.genres.all %}
                    <li>{{genre.nom}}</li>
                {% endfor %}
            </ul>
            <p>Modes de jeu:</p>
            <ul>
                {% for modedejeu in jeu.modes_de_jeux.all %}
                    <li>{{modedejeu.nom}}</li>
                {% endfor %}
            </ul>
                {% comment %} {% endcomment %}
            <hr>
        {% endfor %}
    </div>

{% endblock %}