{% extends 'base.html' %}
{% block title %}Liste des jeux{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p>User connecté : {{user}}</p>
{% endif %}

    <div>
        {% for jeu in jeux %}
            <p>Jeu n° <span class="gras">{{forloop.counter}} => {{jeu.nom}}</span></p>
            <p>{{jeu.genres.nom}}</p>
            {% comment %}
                {% for genre in jeu.genres %}
                    <p>Genres de jeu ==>> {{genre.nom}}</p>
                {% endfor %}
            {% endcomment %}
            <hr>
        {% endfor %}
    </div>

{% endblock %}